<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Superheroes!</title>
  </head>
  <body>
  <h1>Create a Team and Heroes!</h1>

  <!-- Team -->
  <label for="team_name">Team Name: </label>
  <input type="text" id = "team_name" name="team[name]">
  <label for="team_motto">Team Motto: </label>
  <input type="text" id = "team_motto" name="team[motto]">

  <!-- Hero 1 -->
  <h1>Hero 1</h1>
  <label for="member1_name">Hero's Name</label>
  <input type="text" id = "member1_name" name="team[members][][name]">
  <label for="member1_power">Hero's Power</label>
  <input type="text" id = "member1_power" name="team[members][][power]">
  <label for="member1_name">Hero's Name</label>
  <input type="text" id = "member1_name" name="team[members][][name]">

  </body>
</html>
